@import '~bootstrap/scss/bootstrap';

$form-background-color: #3998CD;
$login-border-color: #2ECC71;
$coral: #ff8945;
$white: #fff;

.display {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 85vw;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: auto 0;
}

.create-form-display {
  display: flex;
  flex-direction: column;
}

.form-div {
  background-color: $form-background-color;
  border-radius: 10px;
  height: 400px;

  input[type="email"], input[type="password"] {
    border: 0;
    background: $coral;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid $coral;
    padding: 10px;
    width: 60%;
    outline: none;
    color: $white;
    border-radius: 28px;
    transition: 0.25s;
  }

  input[type="email"]:focus, input[type="password"]:focus {
    width: 80%;
    border-color: $coral;
  }
}

.sign-up-display {
  display: flex;
  flex-direction: column;
  height: 60vh;
  max-width: 350px;
  min-height: 170px;
  min-width: 275px;
  padding: 10px;
  text-align: center;
  width: 45vw;
}

.sign-in-display {
  display: flex;
  flex-direction: column;
  height: 60vh;
  margin: 25px;
  max-width: 350px;
  min-height: 145px;
  min-width: 275px;
  padding: 10px;
  text-align: center;
  width: 45vw;
}

.submit {
  border-radius: 28px;
  margin: 10px;
  min-height: 35px;
}

.swap-form-display {
  margin-bottom: 80px;

  > .swap-form-message {
    display: inline-block;
    margin-top: 1rem;
  }
}

.hidden {
  display: none;
}
