.survey-area {
  width: 100%;
}

.surveys {
  display: grid;
  grid-gap: 3%;
  grid-template-columns: 1fr 1fr 1fr;

  .survey {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    position: relative;

    .card-bottom {
      margin-top: 1em;
    }

    .delete-survey {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  @media (max-width: 1024px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
